body{
    background-color: black;
}

.note p{
	color: white;
}

.hidden {
	display: none;
}

.qrcode{
	width: 100%;
	height: 100%;
	padding: 1.5cqw;
	margin-top: 0cqw;
	box-sizing: border-box;
  object-fit: cover;
}

.PayLinkdiv{
	position: relative;
	height: 25cqw;
    width: 25cqw;
}

.PayLinkgif{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}

.qrcodeWithdrawal {
  border: 0px solid #555;
}

#mainDiv {
	display: flex;
	flex-wrap: wrap;
	gap: 1vw;
	padding: 1vw;
}



.note {
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(#ffffff00, #00000063);
    width:100%;
    padding: 3vw 2vw 1.1vw 1.2vw;
    text-align: left;
    box-sizing: border-box;
    font-size:1.5vw;
    font-family: sans-serif;
    letter-spacing: 0.1vw;
}

.note p{
    margin:0vw;
}

.note .label{
    font-size:1vw;
    letter-spacing: 0.15vw;
    opacity: 0.8;
    text-transform: uppercase;
}
